# package-io

<p style="text-align: center">
    <img src="https://s3.qiufengh.com/blog/1552665365430.png" width="220px">
</p>


> It's a helper for operator package.json

# Usage

```shell
npm install package-io
```


```javascript
const {pkgRead, pkgUpdate} = require('package-io');

const data = pkgRead();

pkgUpdate(Object.assign(data, {name: "my favorite"}));
```

# API Reference

{{>main}}

# License

MIT

Copyright (c) 2018 蓝色的秋风